<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>jp.aeyesec.SystemInfoSync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/system_info_syncx</string>
	<string></string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/system_info_syncx.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/system_info_syncx.log</string>
</dict>
</plist>